@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <div class="container text-left">
        <h3 class="mt-3">Origin of the company</h3>
        <p class="mb-4">When it comes to shovels, no one can beat this company all over the United states and Canada. This company is all about providing a premium product to their customers. In the year 1945, Johnson Smith, the founder of the company, made his first shovel in the backyard of his house. He made very good shovel by itself. He then tried to get in this business and started to contact local factories in his city to provide the service to manufacture the shovels. Fortunately, one factory started making shovels with the innovation of Jonathan Smith. After few years, he changed the company's name to Onpoint Shovels and started the business individually.</p>
        
        <h3>Refund policy</h3>
        <p class="mb-4">Moreover, if you are not happy with our products or services, we offer 60 days refund policy for our shovels. If the product broke then we provide a new shovel to the customer without any extra money for two years.</p>
        
        <h3>Product Quality</h3>
        <p>When it comes to the quality of the product, this company's product line beats all other companies who manufacture shovels in the industry. We have the biggest production plant for manufacturing shovels in the North America. We offer less price as compared to other companies for our shovels. Not only that, but also the quality of our products is top notch for very less cost.</p>
    </div>
</div>
